<button class="btn btn-small pull-right" ng-click="edit()"><i class="icon-edit"></i> Edit</button>
<h4>{{model.title}}</h4>
<ul class="inline">
	<li ng-repeat="tag in model.tags"><span class="label"><i class="icon-tag"></i> {{tag}}</span></li>
</ul>
<div app-markdown-renderer="model.body"></div>
<hr />
<div class="media" ng-repeat="comment in model.comments">
	<img class="pull-left media-object" src="http://www.gravatar.com/avatar/9a2d1bc06c719550eb756b8cc32baa37?s=64">
	<p class="media-heading muted">{{comment.timestamp | date:'short'}}</p>
	<div class="media-body" app-markdown-renderer="comment.body"></div>
</div>
<div class="media">
	<img class="pull-left media-object" src="http://www.gravatar.com/avatar/9a2d1bc06c719550eb756b8cc32baa37?s=64">
	<div class="media-body">
		<form ng-submit="addComment()">
			<div app-markdown-editor="newCommentBody"></div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Comment</button>
			</div>
		</form>
	</div>
</div>
