<div class="tabbable">
	<ul class="nav nav-tabs">
		<li ng-class="{active: editActive()}">
			<a href="" ng-click="editClick()" tabindex="-1">Text</a>
		</li>
		<li ng-class="{active: previewActive()}">
			<a href="" ng-click="previewClick()" tabindex="-1">Preview</a>
		</li>
		<li ng-class="{active: helpActive()}">
			<a href="" ng-click="helpClick()" tabindex="-1">Help</a>
		</li>
	</ul>
	

	<div class="tab-content" ng-show="editActive()">
		<textarea class="input-block-level" rows="15" ng-model="markdown"></textarea>
	</div>
	<div class="tab-content" ng-show="previewActive()" ng-bind-html-unsafe="html"></div>
	<div class="tab-content" ng-show="helpActive()">This is the help</div>

</div>
